body {
    background-color: #87CEEB; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1 {
   align-items: center;
}

input[type="text"] {
    padding: 10px;
    width: 250px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

input[id="city"] {
    color: rgb(58, 58, 58);
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

button {
    padding: 10px 20px;
    margin-left: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

.weather-info {
    margin-top: 20px;
    display: none;
    margin-left: 50px;
}

#weather-icon {
    width: 250px;
    height: 150px;
    margin-top: 10px;
    display: column;
    margin-left: 30px;
    border-style: groove;
    border-radius: 0.5em;
    border-width: 0.8em;
}

#city {
    font-size: 1.5em;
    border-style: groove;
    border-radius: 5em;
}

#city:hover {
    color: rgb(131, 129, 129);
}

button:hover {
    color: rgb(131, 129, 129);
}

#condition {
    color:blueviolet
}

@media (max-width: 768px) {
    input[type="text"] {
        width: 80%; 
    }
    
    button {
        padding: 8px 16px; 
        margin-left: 2px; 
    }
    
    #weather-icon {
        width: 90%; 
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em; 
    }
    
    input[type="text"] {
        width: 95%; 
    }
    
    button {
        width: 100%; 
        margin-left: 0; 
    }
    
    .weather-info {
        margin-left: 0; 
    }
}

